changeLogFile:  db.changelog-root.yaml
url:  jdbc:postgresql://<servername>:<port>/<dbname>
username:  username
password:  password
classpath:  my_classpath/snakeyaml-x.x.jar
liquibase.searchPath: db/changelogs/my_project